nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 64px;
	background-color: rgb(19, 232, 161);
	gap: 40px;
}

nav a{
	text-decoration: none;
	color: #ffffff;
	transition: all 0.3s;
}

nav a:hover {
	color: #e6e6e6c0;
	text-decoration: underline;
}
